<body>
  <mat-sidenav-container class="container">
  <mat-sidenav #sidenav role="navigation">
    <app-sidebar (sidenavClose)="sidenav.close()"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-employeeheader (sidenavToggle)="sidenav.toggle()"></app-employeeheader>
    <div class="content">   
      <h3>Registered users:</h3>
      <ul>
      <li *ngFor="let user of users">
       ID : {{user.id}} <br>
       Email : {{user.email}} <br>
       Name : {{user.firstName}} {{user.lastName}} <br>
       Gender :  {{user.gender}}<br>
       Mobile No :  {{user.mobile}}<br>
       PAN No : {{user.pan}}<br><br>
      <a (click)="deleteUser(user.id)" class="text-danger">Delete</a><br><br>
      </li>
      </ul>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</body>
