a {
    text-decoration: none;
    color: white;
    padding-right: 30px;
}

a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin-left: 800px;
    float:right;
}

mat-toolbar{
    border-radius: 3px;
}

